@{
    ViewData["Title"] = "Home Page";
}

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Thomaz
            <span class="text-primary">Machado</span>
        </h1>
        <div class="subheading mb-5">
            Rua da Filosofia, Cohafuma · São Luís/MA · 65074-820 · +55 98 9 9214-1516 ·
            <a href="mailto:thomazdsmachado@gmail.com">thomazdsmachado@gmail.com</a>
        </div>
        <p class="lead mb-5" style="text-align: justify;">
            Goal-oriented Web Developer with strong commitment to collaboration and
            solutions-oriented problem-solving. Use various web design software to develop
            customer-focused websites and designs. Committed to high standards of web
            design, user experience, usability and speed for multiple types of end-users.
            Successful at maintaining customer satisfaction through effective customer
            support.
            <br>
            Meticulous Automation Engineer skilled with developing university rockets
            technologies and improving existing products. Strong experience automating
            the creation of test environments. Driven leader with advanced-level knowledge
            in motion control and data acquisition systems.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/thomaz-smachado/" target="blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/thomazdsm" target="blank"><i class="fab fa-github"></i></a>
            <!-- <a class="social-icon" href="#" target="blank"><i class="fab fa-twitter"></i></a> -->
            <a class="social-icon" href="https://www.facebook.com/ThomazSMachado" target="blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Engineering Internship</h3>
                <div class="subheading mb-3">Vale SA</div>
                <p style="text-align: justify;">
                    I work in the analysis, development, maintenance and software management area in Occupational Safety Supervision in
                    the Northern Corridor of Vale S/A. I develop applications that aim to automate processes, making them faster, safer and
                    accuratier. To accomplish my task I use knowledge in web programming with PHP & Angular framework and ASP.NET Core
                    with Entity Framework.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2019 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3"></div>
                <p style="text-align: justify;">
                    I develop websites in ASP.NET, HTML5, JS and PHP, using some frameworks such as Angular,
                    React and Entity. In addition to using SQL Server or MySQL for database management.
                </p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2015 - Present</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Universidade Estadual do Maranhão</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Engineering</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2014 - Present</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Colégio Santa Teresa</h3>
                <div class="subheading mb-3">Ensino Médio</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2012 - December 2014</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Skills-->
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="devicon-php-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-dot-net-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-angularjs-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-html5-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-mysql-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-python-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-csharp-line-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-nodejs-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-git-plain-wordmark"></i></li>
            <li class="list-inline-item"><i class="devicon-visualstudio-plain"></i></li>
            <li class="list-inline-item"><i class="devicon-illustrator-line"></i></li>


        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Web Design, Responsive Design
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Browser Testing & Debugging
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />
<!-- Awards-->
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-award text-warning"></i></span>
                    Certification in CCNA Routing and Switching
                    <div class="flex-shrink-0"><span class="text-primary">January 2017 - January 2018</span></div>
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-award text-warning"></i></span>
                    Certification in Power BI for Developers
                </li>
            </ul>
        </div>
        <h2 class="mb-5">Awards</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Oral Presentation Category in Computational Modality - COBRUF
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Oral Presentation Category in Propulsion Modality - COBRUF
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    1
                    <sup>st</sup>
                    Place in Category 200m - Curitiba Mini Rocket Festival
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place in Category 50m - Curitiba Mini Rocket Festival
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    2
                    <sup>nd</sup>
                    Place in Category Engine Class A - Curitiba Mini Rocket Festival
                </li>
            </ul>
        </div>
    </div>
</section>
<hr class="m-0" />
<!-- Portifolio-->
<section class="resume-section" id="portifolio">
    <div class="resume-section-content">
        <h2 class="mb-5">Publications</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    Modelo Computacional para o Dimensionamento do Paraquedas de um Veículo Espacial
                    Universitário
                </h3>
                <div class="subheading mb-3">Published in the VI Engineering Week of Maranhão</div>
                <div>
                    <a href="http://www.even3.com.br/Anais/sengmaanais/136491-MODELO-COMPUTACIONAL-PARA-O-DIMENSIONAMENTO-DOPARAQUEDAS-
                                DE-UM-VEICULO-ESPACIAL-UNIVERSITARIO" target="blank">Go to article...</a>
                </div>
            </div>
        </div>
        <h2 class="mb-5">Websites</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Danielle Machado - Advocacia e Consultoria Jurídica</h3>
                <div><a href="https://danielleadv.azurewebsites.net/" target="blank">Go to website...</a></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Núcleo de Estudos e Pesquisa sobre Educação das Relações Étnico-Raciais e de Gênero - NEPERGE</h3>
                <div class="subheading mb-3">Developed to Universidade Federal do Maranhão - UFMA</div>
                <div><a href="http://www.neperge.ufma.br/index.html" target="blank">Go to website...</a></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">MAfroEduc</h3>
                <div class="subheading mb-3">Developed to Universidade Federal do Maranhão - UFMA</div>
                <div><a href="https://mafroeduc.com/" target="blank">Go to website...</a></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Residência Pedagógica - RP</h3>
                <div class="subheading mb-3">Developed to Universidade Federal do Maranhão - UFMA</div>
                <div><a href="http://residenciapedagogica.ufma.br/" target="blank">Go to website...</a></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Encontro de Educadores - ECONEDUC</h3>
                <div class="subheading mb-3">Developed to Universidade Federal do Maranhão - UFMA</div>
                <div><a href="http://www.encontroeducadores.ufma.br/principal/pages/principal.html" target="blank">Go to website...</a></div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Sistema de Incrição - RP/PIBID</h3>
                <div class="subheading mb-3">Developed to Universidade Federal do Maranhão - UFMA</div>
                <div><a href="http://residenciapedagogica.ufma.br/inscricao/index.php" target="blank">Go to website...</a></div>
            </div>
        </div>
    </div>
</section>
